{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>This is home page.</p>
    <h2>Recent Posts</h2>
    <ul>
        {% for post in recent_posts %}
        <li><a href="{{ url_for('post.view', postid=post['id']) }}">{{ post["title"] }}</a> posted by <a href="{{ url_for('user.view', userid=post['authorid']) }}">{{ post["author"] }}</a> on {{ post["timestamp"] }}</li>
        {% endfor %}
    </ul>
{% endblock %}