:root {
    --back-primary: #002d56;
    --back-secondary: #005288;
    --unused-primary:#717073;
    --text-primary: #d59f0f;
    --text-primary-light: #eeb821;
    --unused-secondary: #b30838;
    
}

.flash-content {
    color: red;
}

header {
    background: var(--back-primary);
    margin-bottom: 100px;
}

header .logo-image {
    transition: transform 0.1s;
    width: 50px;
    height: 50px;
}

header .logo-image:hover {
    transform: scale(1.1);
}

nav {
    font-size: 22px;
}

nav ul {
    list-style: none;
}

nav a {
    color: var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    transition: border-bottom 0.1s;
}

nav a:hover {
    color: var(--text-primary-light);
    border-bottom: 1px solid var(--text-primary);
}

nav .user-dropdown-icon {
    color: var(--text-primary);
}