{% extends "base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/style.css') }}">
{% endblock %}

{% block content %}
    <div class="login-header text-center">
        <h1 class="display-5">Register for the HTS social network</h1>
    </div>

    <div class="w-50 m-auto">
        <form method="POST">
            <div class="input form-outline">
                <input class="form-control" name="username" id="username" type="text" required>
                <label class="form-label" for="username">Username</label>
            </div>
            <div class="input form-outline">
                <input class="form-control" name="password" id="password" type="password" required>
                <label class="form-label" for="password">Password</label>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
    </div>
{% endblock %}