<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - HTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block extrascripts %}{% endblock %}
</head>
<body>
    <h1><b><i><a href="{{ url_for('index') }}">yes</a></i></b></h1>
    <nav>
        <ul>
            {% if g.user %}
            <li><span>Logged in as <a href="{{ url_for('user.view', userid=g.user['id']) }}">{{ g.user["username"] }}</a></span></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('post.create') }}">New Post</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <section id="content">
        {% block header %}{% endblock %}
        <div>
            {% for msg in get_flashed_messages() %}
            <div class="flash-message">
                <span class="flash-content">{{ msg }}</span>
            </div>
            {% endfor %}
        </div>
        {% block content %}{% endblock %}
    </section>
</body>
</html>